* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  margin: 0;
  font: var(--typography-regular-body);
  -webkit-font-smoothing: antialiased;
}

h1,
.h1 {
  font: var(--typography-regular-h1);
}

h2,
.h2 {
  font: var(--typography-regular-h2);
}

h3,
.h3 {
  font: var(--typography-regular-h3);
}

h4,
.h4 {
  font: var(--typography-regular-h4);
}

h5,
.h5 {
  font: var(--typography-regular-h5);
}

.container {
  max-width: var(--layout-max-width);
  margin: 0 auto;
  padding: 0 var(--layout-padding-container);
}

p {
  margin-top: var(--layout-margin-medium);
}
