* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  margin: 0;
  font: var(--typography-regular-body);
  -webkit-font-smoothing: antialiased;
  color: var(--typography-color-primary);
}

h1,
.h1 {
  font: var(--typography-regular-h1);
}

h2,
.h2 {
  font: var(--typography-regular-h2);
}

h3,
.h3 {
  font: var(--typography-regular-h3);
}

h4,
.h4 {
  font: var(--typography-regular-h4);
}

h5,
.h5 {
  font: var(--typography-regular-h5);
}

p {
  margin-top: var(--layout-margin-medium);
}

/* Utility classes - add as needed */
html:has(.u-page-background-gray) {
  background: var(--theme-gray-10);
}
.u-container {
  max-width: var(--layout-max-width);
  margin: 0 auto;
  padding: 0 var(--layout-padding-container);
}
.u-container-content {
  max-width: var(--layout-max-width-content);
  margin: 0 auto;
  padding: 0 var(--layout-padding-container);
}
.u-container-walkthrough {
  margin: 0 auto;
  padding: var(--question-container-padding-y) var(--layout-padding-container)
    var(--question-container-padding-y);
  max-width: var(--question-container-max-width);
}
.u-hidden {
  display: none;
}
.u-relative {
  position: relative;
}
.u-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
