.page-Landing--Header {
  padding-block: var(--page-landing-header-padding-block);
}

.page-Landing--Header h1 {
  font: var(--typography-bold-h1);
  line-height: normal;
  margin-bottom: var(--page-landing-subhead-margin-bottom);
}

.page-Landing--Header p {
  font: var(--typography-regular-large-body);
}

.page-Landing--LinkCards {
  background-color: var(--theme-primary-blue);
  padding-block: var(--page-landing-cards-padding-block);
}

.page-Landing--LinkCards ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--layout-margin-large);
}

.page-Landing--LinkCards li {
  display: flex;
  flex: 1;
  min-width: var(--link-card-min-width);
  max-width: var(--link-card-max-width);
}
