.react-aria-Dialog {
  outline: none;
}

.my-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: #00000030;
  
  &[data-entering] {
    animation: mymodal-blur 300ms;
  }

  &[data-exiting] {
    animation: mymodal-blur 300ms reverse ease-in;
  }
}

.my-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 60%;
  outline: none;
  border-left: 1px solid var(--border-color);
  box-shadow: -8px 0 20px rgba(0 0 0 / 0.1);
  background: #ffffff;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  outline: 'none';
  padding: 40px;
  bor
  &[data-entering] {
    animation: mymodal-slide 300ms;
  }

  &[data-exiting] {
    animation: mymodal-slide 300ms reverse ease-in;
  }
}
.my-modal:focus {
  box-shadow: -8px 0 20px rgb(135, 13, 13);
}

.close-button {
  position: fixed;
  top: 10px;
  right: 20px;
  z-index: 1001;
}

.modal-header {
  height: 40px; /* This provides the padding space below the fixed close button */
}

.modal-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 50px; /* Adjust to ensure content starts below the fixed close button */
  outline: none !important;
  border: none !important;
}

.modal-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section-header-line {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  gap: 10px;
}

.section-content-line {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  gap: 10px;
}

.section-number {
  grid-column: span 1;
  font-size: 1.5rem;
  font-weight: bold;
}

.section-header {
  grid-column: span 4;
  font-size: 1.2rem;
  font-weight: bold;
}

.section-content {
  grid-column: span 4 / 6; 
  font-size: 1rem;
  line-height: 1.5;
}

/* Remove the border around the content when the modal is focused */
.my-modal:focus {
  outline: none;
}

@keyframes mymodal-blur {
  from {
    background: rgba(129, 129, 129, 0);
  }

  to {
    background: rgba(129, 129, 129, 0.3);
  }
}

@keyframes mymodal-slide {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}
