.ui-ModalSide--AriaDialog {
  outline: none;
}

.ui-ModalSide--Overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: var(--theme-black-opacity-40);
}

.ui-ModalSide--Modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 60%;
  outline: none;
  border-left: var(--layout-border-width-small) solid
    var(--surface-color-border-default);
  box-shadow: -8px 0 20px var(--surface-opacity-10);
  background: var(--theme-gray-white);
  display: flex;
  flex-direction: column;
  padding: var(--layout-padding-large);

  &[data-entering] {
    animation: modal-slide-in 300ms reverse ease-in;
  }

  &[data-exiting] {
    animation: modal-slide-out 300ms reverse ease-in;
  }
}

.ui-ModalSide--CloseButton {
  position: fixed;
  color: var(--icons-color-primary) !important;
  top: var(--layout-padding-medium);
  right: var(--layout-padding-large);
  z-index: 1001;
}

.ui-ModalSide--Header {
  position: fixed;
  text-align: right;
  top: 0;
  right: var(--layout-padding-medium);
  background-color: var(--theme-gray-white);
}

.ui-ModalSide--Content {
  display: flex;
  flex-direction: column;
  gap: var(--layout-padding-medium);
  margin-top: 50px;
  padding: var(--layout-padding-small);
  overflow-y: scroll;
  height: 100vh;
}

.ui-ModalSide--Section {
  display: flex;
  flex-direction: column;
}

.ui-ModalSide--SectionHeaderLine {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
}

.ui-ModalSide--SectionContentLine {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
}

.ui-ModalSide--SectionNumber {
  grid-column: span 1;
  text-align: center;
  font-size: var(--typography-font-size-h5);
  font-weight: var(--typography-font-weights-bold);
}

.ui-ModalSide--SectionHeader {
  grid-column: span 4;
  font-size: var(--typography-font-size-large-body);
  font-weight: var(--typography-font-weights-bold);
}

.ui-ModalSide--SectionContent {
  grid-column: span 4 / 6;
  font-size: var(--typography-font-size-body);
  line-height: var(--typography-line-heights-dense);
  padding: var(--layout-margin-large);
  padding-top: 0;
  margin-top: 1px;
}

.ui-ModalSide--SectionHighlighted {
  border-radius: var(--layout-margin-small, 8px);
  border: 1px solid var(--support-borderColor-info, #053662);
  background: var(--support-surfaceColor-info, #f7f9fc);
}

@keyframes modal-slide-out {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes modal-slide-in {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(100%);
  }
}

/* DESKTOP - 912px */
@media (max-width: 57rem) {
  .ui-ModalSide--Modal {
    width: 100%;
  }
  .ui-ModalSide--Header {
    width: 100%;
  }
}
