.react-aria-Link {
  background-color: var(--surface-color-tertiary-button-default);
  color: var(--typography-color-link);
  text-decoration: underline;
  text-underline-offset: 0.3em;
}
.react-aria-Link[data-disabled] {
  color: var(--typography-color-disabled);
}
