/**
 * CSS Variables
 * Copied from https://github.com/bcgov/design-system/blob/main/packages/design-tokens/dist/css/variables.css
 * Generated on Wed, 01 May 2024 18:02:21 GMT
 */

/* MOBILE - DEFAULT */
:root {
  --surface-opacity-0: 0;
  --surface-opacity-10: 0.1;
  --surface-opacity-20: 0.2;
  --surface-opacity-30: 0.3;
  --surface-opacity-40: 0.4;
  --surface-opacity-50: 0.5;
  --surface-opacity-60: 0.6;
  --surface-opacity-70: 0.7;
  --surface-opacity-80: 0.8;
  --surface-opacity-90: 0.9;
  --surface-opacity-100: 1;
  --surface-shadow-none: 0 0.30000001192092896px 0.8999999761581421px 0
      #0000001a,
    0 1.600000023841858px 3.5999999046325684px 0 #00000021;
  --surface-shadow-small: 0 0.6000000238418579px 1.7999999523162842px 0
      #0000001a,
    0 3.200000047683716px 7.199999809265137px 0 #00000021; /* Primarily used as a hover effect for cards */
  --surface-shadow-medium: 0 1.2000000476837158px 3.5999999046325684px 0
      #0000001a,
    0 6.400000095367432px 14.399999618530273px 0 #00000021; /* Primarily used for dropdown menus and tooltips */
  --surface-shadow-large: 0 4.800000190734863px 14.399999618530273px 0 #0000002e,
    0 25.600000381469727px 57.599998474121094px 0 #00000038; /* Primarily used for dialogs */
  --surface-color-primary-button-default: #013366;
  --surface-color-primary-button-hover: #1e5189;
  --surface-color-primary-button-disabled: #edebe9;
  --surface-color-primary-danger-button-default: #ce3e39;
  --surface-color-primary-danger-button-hover: #a2312d;
  --surface-color-primary-danger-button-disabled: #edebe9;
  --surface-color-secondary-button-default: #ffffff;
  --surface-color-secondary-button-hover: #edebe9;
  --surface-color-secondary-button-disabled: #edebe9;
  --surface-color-tertiary-button-default: rgba(255, 255, 255, 0);
  --surface-color-tertiary-button-hover: #eceae8;
  --surface-color-tertiary-button-disabled: #edebe9;
  --surface-color-menus-default: #ffffff;
  --surface-color-menus-hover: #edebe9;
  --surface-color-forms-default: #ffffff;
  --surface-color-forms-disabled: #edebe9;
  --surface-color-background-white: #ffffff;
  --surface-color-background-light-gray: #faf9f8;
  --surface-color-background-light-blue: #f1f8fe;
  --surface-color-background-dark-blue: #053662;
  --surface-color-border-default: #d8d8d8;
  --surface-color-border-medium: #898785;
  --surface-color-border-dark: #353433;
  --surface-color-border-active: #2e5dd7;
  --surface-color-overlay-default: rgba(0, 0, 0, 0.45);
  --support-surface-color-info: #f7f9fc;
  --support-surface-color-danger: #f4e1e2;
  --support-surface-color-success: #f6fff8;
  --support-surface-color-warning: #fef1d8;
  --support-border-color-info: #053662;
  --support-border-color-danger: #ce3e39;
  --support-border-color-success: #42814a;
  --support-border-color-warning: #f8bb47;
  --icons-size-xsmall: 14px;
  --icons-size-small: 16px;
  --icons-size-medium: 20px;
  --icons-size-large: 24px;
  --icons-size-xlarge: 32px;
  --icons-color-primary: #2d2d2d;
  --icons-color-secondary: #474543;
  --icons-color-disabled: #9f9d9c;
  --icons-color-disabled-accessible: #edebe9;
  --icons-color-link: #255a90;
  --icons-color-info: #053662;
  --icons-color-danger: #ce3e39;
  --icons-color-success: #42814a;
  --icons-color-warning: #f8bb47;
  --icons-color-primary-invert: #ffffff;
  --layout-border-width-none: 0;
  --layout-border-width-small: 1px;
  --layout-border-width-medium: 2px;
  --layout-border-width-large: 4px;
  --layout-padding-none: 0;
  --layout-padding-xxsmall: 0.125rem;
  --layout-padding-xsmall: 0.25rem;
  --layout-padding-small: 0.5rem;
  --layout-padding-10: 0.625rem;
  --layout-padding-12: 0.75rem;
  --layout-padding-14: 0.875rem;
  --layout-padding-medium: 1rem;
  --layout-padding-large: 1.5rem;
  --layout-padding-26: 1.625rem;
  --layout-padding-xlarge: 2rem;
  --layout-padding-xxlarge: 2.5rem;
  --layout-padding-64: 4rem;
  --layout-margin-none: 0rem;
  --layout-margin-hair: 0.125rem;
  --layout-margin-xsmall: 0.25rem;
  --layout-margin-small: 0.5rem;
  --layout-margin-12: 0.75rem;
  --layout-margin-medium: 1rem;
  --layout-margin-large: 1.5rem;
  --layout-margin-xlarge: 2rem;
  --layout-margin-xxlarge: 2.5rem;
  --layout-margin-xxxlarge: 3rem;
  --layout-margin-huge: 3.5rem;
  --layout-margin-80: 5rem;
  --layout-border-radius-none: 0;
  --layout-border-radius-small: 2px;
  --layout-border-radius-medium: 4px;
  --layout-border-radius-large: 6px;
  --layout-border-radius-xlarge: 8px;
  --layout-border-radius-xxlarge: 12px;
  --typography-font-families-bc-sans: "BC Sans", sans-serif;
  --typography-line-heights-xxxdense: 1.125rem;
  --typography-line-heights-xxdense: 1.313rem;
  --typography-line-heights-xdense: 1.688rem;
  --typography-line-heights-dense: 1.913rem;
  --typography-line-heights-regular: 2.125rem;
  --typography-line-heights-sparse: 2.25rem;
  --typography-line-heights-xsparse: 3rem;
  --typography-line-heights-xxsparse: 3.375rem;
  --typography-line-heights-auto: AUTO;
  --typography-font-weights-regular: 400;
  --typography-font-weights-bold: 700;
  --typography-font-weights-italic: Italic;
  --typography-font-size-label: 0.75rem;
  --typography-font-size-small-body: 0.875rem;
  --typography-font-size-body: 1rem;
  --typography-font-size-large-body: 1.125rem;
  --typography-font-size-h5: 1.25rem;
  --typography-font-size-h4: 1.5rem;
  --typography-font-size-h3: 1.75rem;
  --typography-font-size-h2: 2rem;
  --typography-font-size-h1: 2.25rem;
  --typography-font-size-display: 3rem;
  --typography-letter-spacing-0: 0em;
  --typography-paragraph-spacing-0: 0;
  --typography-regular-label: 400 0.75rem/1.125rem "BC Sans";
  --typography-regular-small-body: 400 0.875rem/1.313rem "BC Sans";
  --typography-regular-body: 400 1rem/1.688rem "BC Sans";
  --typography-regular-large-body: 400 1.125rem/1.913rem "BC Sans";
  --typography-regular-h6: 400 1.125rem/1.913rem "BC Sans";
  --typography-regular-h5: 400 1.25rem/2.125rem "BC Sans";
  --typography-regular-h4: 400 1.5rem/2.25rem "BC Sans";
  --typography-regular-h3: 400 1.75rem/3rem "BC Sans";
  --typography-regular-h2: 400 2rem/3.375rem "BC Sans";
  --typography-regular-h1: 400 2.25rem/3rem "BC Sans";
  --typography-regular-display: 400 3rem / AUTO "BC Sans";
  --typography-bold-label: 700 0.75rem/1.125rem "BC Sans";
  --typography-bold-small-body: 700 0.875rem/1.313rem "BC Sans";
  --typography-bold-body: 700 1rem/1.688rem "BC Sans";
  --typography-bold-large-body: 700 1.125rem/1.913rem "BC Sans";
  --typography-bold-h6: 700 1.125rem/1.913rem "BC Sans";
  --typography-bold-h5: 700 1.25rem/2.125rem "BC Sans";
  --typography-bold-h4: 700 1.5rem/2.25rem "BC Sans";
  --typography-bold-h3: 700 1.75rem / var(--typography-line-heights-xsparse)
    "BC Sans";
  --typography-bold-h2: 700 2rem/3rem "BC Sans";
  --typography-bold-h1: 700 2.25rem/3.375rem "BC Sans";
  --typography-bold-display: 700 3rem / AUTO "BC Sans";
  --typography-italic-label: 400 italic 0.75rem/1.125rem "BC Sans";
  --typography-italic-small-body: 400 italic 0.875rem/1.313rem "BC Sans";
  --typography-italic-body: 400 italic 1rem/1.688rem "BC Sans";
  --typography-italic-large-body: 400 italic 1.125rem/1.913rem "BC Sans";
  --typography-italic-h6: 400 italic 1.125rem/1.913rem "BC Sans";
  --typography-italic-h5: 400 italic 1.25rem/2.125rem "BC Sans";
  --typography-italic-h4: 400 italic 1.5rem/2.25rem "BC Sans";
  --typography-italic-h3: 400 italic 1.75rem/3.375rem "BC Sans";
  --typography-italic-h2: 400 italic 2rem/3rem "BC Sans";
  --typography-italic-h1: 400 italic 2.25rem/3.375rem "BC Sans";
  --typography-italic-display: 400 italic 3rem / AUTO "BC Sans";
  --typography-text-case-none: none;
  --typography-text-decoration-none: none;
  --typography-paragraph-indent-0: 0px;
  --typography-color-primary: #2d2d2d;
  --typography-color-secondary: #474543;
  --typography-color-placeholder: #9f9d9c;
  --typography-color-disabled: #6d6969;
  --typography-color-link: #255a90;
  --typography-color-danger: #ce3e39;
  --typography-color-primary-invert: #ffffff;
  --typography-color-secondary-invert: #eceae8;
  --theme-gold-10: #fef8e8;
  --theme-gold-20: #fef0d8;
  --theme-gold-30: #fde9c4;
  --theme-gold-40: #fce2b0;
  --theme-gold-50: #fbda9d;
  --theme-gold-60: #fbd389;
  --theme-gold-70: #facc75;
  --theme-gold-80: #f9c462;
  --theme-gold-90: #f8ba47;
  --theme-gold-100: #fcba19;
  --theme-blue-10: #f1f8fe;
  --theme-blue-20: #d8eafd;
  --theme-blue-30: #c1ddfc;
  --theme-blue-40: #a8d0fb;
  --theme-blue-50: #91c4fa;
  --theme-blue-60: #7ab8f9;
  --theme-blue-70: #5595d9;
  --theme-blue-80: #3470b1;
  --theme-blue-90: #1e5189;
  --theme-blue-100: #013366;
  --theme-gray-10: #faf9f8;
  --theme-gray-20: #f3f2f1;
  --theme-gray-30: #eceae8;
  --theme-gray-40: #e0dedc;
  --theme-gray-50: #d1cfcd;
  --theme-gray-60: #c6c5c3;
  --theme-gray-70: #9f9d9c;
  --theme-gray-80: #605e5c;
  --theme-gray-90: #3d3c3b;
  --theme-gray-100: #353433;
  --theme-gray-110: #252423;
  --theme-gray-white: #ffffff;
  --theme-primary-blue: #013366;
  --theme-primary-gold: #fcba19;
}

/* CUSTOM */
:root {
  --surface-color-transparent: #00000000;
  --theme-gold-100-a0: #fcba1900;
  --theme-gold-100-a20: #fcba1933;
  --layout-border-width-xlarge: 6px;
  --layout-padding-container: var(--layout-padding-medium);
  --layout-padding-radio-x: var(--layout-padding-medium);
  --layout-padding-radio-y: var(--layout-padding-medium);
  --layout-padding-checkbox-x: var(--layout-padding-medium);
  --layout-padding-checkbox-y: var(--layout-padding-medium);
  --layout-max-width: 85.25rem; /* 1364px */
  --layout-max-width-content: 71.375rem; /* 1142px */
  --size-button: 40px;
  --size-button-large: 52px;
  --outline-offset: 2px;
  --text-underline-offset: 0.2em; /* 3px */
  --text-underline-offset-large: 0.35em; /* 5.6px */
  --text-decoration-hidden: underline 1px var(--surface-color-transparent);
  --transition-link-background-color: background-color 150ms ease-in;
  --transition-link-color: color 150ms ease-in;
  --transition-link-icon-fill-color: fill 150ms ease-in;
  --button-gap: var(--layout-padding-12);
  --header-height: 60px;
  --header-border-width: var(--layout-border-width-small);
  --header-height-full: calc(
    var(--header-height) + var(--header-border-width) +
      var(--breadcrumbs-height)
  );
  --header-nav-mobile-padding: var(--layout-padding-medium);
  --header-link-hover-background-color: rgba(34, 34, 34, 0.05);
  --footer-margin-block: var(--layout-margin-large);
  --footer-main-direction: column;
  --footer-main-margin-bottom: var(--layout-margin-large);
  --breadcrumbs-height: 52px;
  --breadcrumbs-first-padding-start: var(--layout-padding-small);
  --walkthrough-side-nav-width: 0;
  --question-container-max-width: 46.875rem; /* 750px */
  --question-container-padding-y: var(--layout-padding-medium);
  --question-reference-margin-top: var(--layout-margin-small);
  --question-form-margin-top: var(--layout-margin-small);
  --walkthrough-footer-back-width: 44px;
  --walkthrough-footer-next-width: 228px;
  --transition-medium: 300ms;
  --theme-black-opacity-40: #00000040;
  --page-landing-header-padding-block: var(--layout-margin-large);
  --page-landing-subhead-margin-bottom: var(--layout-margin-medium);
  --page-landing-cards-padding-block: var(--layout-margin-large);
  --page-building-type-display: block;
  --page-building-type-content-padding: var(--layout-margin-large);
  --page-building-type-wizard-width: 100%;
  --page-building-type-wizard-padding: var(--layout-margin-large)
    var(--layout-margin-medium);
  --page-building-type-wizard-gap: var(--layout-margin-large);
  --page-building-type-wizard-button-margin-left: calc(
    var(--layout-margin-12) * -1
  );
  --link-card-min-width: 20.625rem; /* 330px */
  --link-card-max-width: 26.25rem; /* 420px */
  --link-card-border-default: 1px solid var(--surface-color-border-default);
  --checkbox-card-padding: var(--layout-padding-large)
    var(--layout-padding-medium)
    calc(var(--layout-padding-large) - var(--layout-border-width-xlarge));
  --checkbox-card-gap: var(--layout-padding-medium);
  --step-tracker-heading-padding-left: var(--layout-padding-xlarge);
  --step-tracker-padding-top: var(--layout-padding-xsmall);
  --step-tracker-padding-left: var(--layout-padding-medium);
  --step-tracker-padding: var(--step-tracker-padding-top)
    var(--step-tracker-padding-left);
  --step-tracker-mobile-toggle-display: flex;
  --step-tracker-tablet-up-display: none;
  --modal-bc-padding: 0 var(--layout-margin-small) var(--layout-margin-huge);
  --modal-bc-padding-subsection: var(--layout-margin-medium)
    var(--layout-margin-small);
  --modal-bc-sentence-padding-start: calc(
    var(--layout-margin-large) + var(--layout-margin-medium)
  );
  --modal-bc-sentence-padding-end: calc(var(--layout-margin-small) * 2);
  --modal-bc-indent: 114px;
  --modal-side-number-padding: 8%;
  --result-content-border-bottom: var(--layout-border-width-small) solid
    var(--surface-color-border-default);
  --print-content-table-th-td-border: 2px solid #000;
  --pdf-result-download-image-border-radius: 8px 0px 0px 8px;
  --pdf-result-download-container-border: 1px solid
    var(--surface-color-border-default);
  --pdf-result-download-container-max-width: 650px;
  --pdf-result-download-container-image-border: 1px solid var(#00000000);
  --pdf-result-download-container-image-container: #000000;
  --confirmation-modal-max-width: 500px;
}

/* TABLET - 608px */
@media (min-width: 38rem) {
  :root {
    --layout-padding-container: var(--layout-padding-xlarge);
    --layout-padding-radio-x: var(--layout-padding-large);
    --layout-padding-checkbox-x: var(--layout-padding-large);
    --header-nav-mobile-padding: var(--layout-padding-large);
    --footer-margin-block: var(--layout-margin-xlarge);
    --footer-main-direction: row;
    --footer-main-margin-bottom: var(--layout-margin-xlarge);
    --walkthrough-side-nav-width: 15.625rem; /* 250px */
    --question-container-padding-y: var(--layout-padding-large);
    --question-reference-margin-top: var(--layout-margin-12);
    --question-form-margin-top: var(--layout-margin-large);
    --walkthrough-footer-back-width: auto;
    --walkthrough-footer-next-width: auto;
    --page-landing-header-padding-block: var(--layout-margin-xlarge);
    --page-landing-subhead-margin-bottom: var(--layout-margin-large);
    --page-landing-cards-padding-block: var(--layout-margin-xxxlarge);
    --page-building-type-content-padding: var(--layout-margin-large)
      var(--layout-margin-xxlarge);
    --page-building-type-wizard-padding: var(--layout-margin-xxlarge);
    --page-building-type-wizard-gap: var(--layout-margin-xlarge);
    --page-building-type-wizard-button-margin-left: 0;
    --checkbox-card-padding: var(--layout-padding-large)
      var(--layout-padding-large)
      calc(var(--layout-padding-large) - var(--layout-border-width-xlarge));
    --checkbox-card-gap: var(--layout-padding-large);
    --modal-bc-padding: var(--layout-margin-large)
      calc(var(--layout-margin-xlarge) - var(--layout-margin-small))
      var(--layout-margin-huge)
      calc(var(--layout-margin-xxxlarge) - var(--layout-margin-small));
    --modal-bc-padding-subsection: 0 var(--layout-margin-small);
    --step-tracker-mobile-toggle-display: none;
    --step-tracker-tablet-up-display: block;
    --step-tracker-heading-padding-left: 0;
    --step-tracker-padding-top: var(--layout-padding-medium);
    --step-tracker-padding: var(--step-tracker-padding-top) 0
      var(--step-tracker-padding-top) var(--step-tracker-padding-left);
  }
}

/* DESKTOP - 912px */
@media (min-width: 57rem) {
  :root {
    --header-height: 65px;
    --walkthrough-side-nav-width: 21.25rem; /* 340px */
    --step-tracker-padding-top: var(--layout-padding-26);
    --step-tracker-padding-left: var(--layout-padding-xlarge);
    --page-building-type-display: flex;
    --page-building-type-wizard-width: 50%;
  }
}

/* DESKTOP - LARGE - 1504px */
@media (min-width: 94rem) {
  :root {
    --breadcrumbs-first-padding-start: 0;
    --walkthrough-side-nav-width: 27.5rem; /* 440px */
    --question-container-max-width: 53.5rem; /* 856px */
  }
}
