.web-Result {
  overflow: auto;
}

.web-Result--ReturnToHome {
  display: flex;
  justify-content: center;
}

.web-Result--Related {
  margin-block: var(--layout-margin-xxlarge);
}

.web-Result--Related .h4 {
  margin-bottom: var(--layout-margin-medium);
}

.web-Result--Related ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  gap: var(--layout-padding-large);
}
