.web-Result {
  overflow: auto;
}

.web-Result--Banner {
  border-radius: var(--layout-border-radius-large);
  border: var(--layout-border-width-small) solid
    var(--support-border-color-success);
  background: var(--support-surface-color-success);
  display: flex;
  align-items: center;
  padding: var(--layout-margin-small) 16px;
  gap: var(--layout-padding-medium);
  margin-top: var(--layout-margin-xxlarge);
}

.web-Result--Banner .ui-Icon {
  color: var(--icons-color-success);
}

.web-Result--ContentHeader {
  font-weight: bold;
  margin-top: var(--layout-margin-xxlarge);
}

.web-Result--ContentHeader.--hasBanner {
  margin-bottom: var(--layout-margin-xxlarge);
}

.web-Result--Content {
  font: var(--typography-regular-large-body);
  padding-bottom: var(--layout-padding-xxlarge);
  border-bottom: var(--layout-border-width-small) solid
    var(--surface-color-border-default);
}

.web-Result--Content sup {
  line-height: 0;
}

.web-Result--Content ul {
  padding: var(--layout-padding-medium) var(--layout-padding-medium)
    var(--layout-padding-medium) var(--layout-padding-xlarge);
}

.web-Result--Content.--hideBottomBorder {
  border-bottom: none;
}

.web-Result--Continue {
  display: flex;
  justify-content: center;
  margin-bottom: var(--layout-margin-large);
}

.web-Result--ReturnToHome {
  display: flex;
  justify-content: center;
}

.web-Result--Related {
  margin-block: var(--layout-margin-xxlarge);
}

.web-Result--Related .h4 {
  margin-bottom: var(--layout-margin-medium);
}

.web-Result--Related ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  gap: var(--layout-padding-large);
}
