.web-WalkthroughFooter {
  background-color: var(--surface-color-background-white);
  display: flex;
  justify-content: space-between;
  padding: var(--layout-padding-smedium) var(--layout-padding-xlarge);
  border-top: var(--layout-border-width-small) solid
    var(--surface-color-border-default);
}
.web-WalkthroughFooter .ui-Icon {
  width: 1.25rem;
  height: 1.25rem;
}

.web-WalkthroughFooter--FooterNext {
  order: 1;
  width: var(--walkthrough-footer-next-width);
}

.web-WalkthroughFooter--FooterBack {
  padding: 0;
  width: var(--walkthrough-footer-back-width);
  gap: 0;
}

.web-WalkthroughFooter--FooterBackText {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  white-space: nowrap;
}

/* TABLET - 608px */
@media (min-width: 38rem) {
  .web-WalkthroughFooter--FooterBack {
    gap: var(--button-gap);
  }

  .web-WalkthroughFooter--FooterBackText {
    clip: unset;
    height: unset;
    width: unset;
    margin: unset;
    overflow: unset;
    padding: unset;
    white-space: unset;
  }
}
