.ui-RadioGroup {
  display: flex;
  flex-direction: column;
}

.ui-RadioGroup > label + label {
  margin-top: var(--layout-margin-small);
}

.ui-RadioGroup--Label {
  font: var(--typography-bold-large-body);
}

.ui-RadioGroup--Error {
  margin-bottom: var(--layout-margin-medium);
}

.ui-Radio {
  display: flex;
  align-items: center;
  padding: calc(
      var(--layout-padding-radio-y) - var(--layout-border-width-medium)
    )
    var(--layout-padding-radio-x);
  border-radius: var(--layout-border-radius-xlarge);
  border: var(--layout-border-width-medium) solid transparent;
  font: var(--typography-regular-large-body);

  input[type="radio"] {
    width: var(--icons-size-large);
    height: var(--icons-size-large);
    left: 1px;
    right: 0;
    position: absolute;
    margin-top: calc(var(--icons-size-large) / -2);
  }

  &[data-hovered] {
    background-color: var(--surface-color-background-light-gray);
  }

  &[data-pressed],
  &[data-selected] {
    border-color: var(--surface-color-border-active);
    background-color: var(--theme-blue-10);
    color: var(--support-border-color-info);
  }

  &[data-focus-visible] {
    outline: var(--layout-border-width-medium) solid
      var(--surface-color-border-active);
    outline-offset: var(--outline-offset);
  }

  .ui-Button {
    font: inherit;
  }
}

.ui-Radio--Icon {
  flex-shrink: 0;
  margin-right: var(--layout-padding-medium);
}
