.web-StepTracker {
  padding: var(--step-tracker-padding);
}

.web-StepTracker--MobileToggle {
  display: var(--step-tracker-mobile-toggle-display);
}

.web-StepTracker--MobileToggle .ui-Icon {
  width: 1.25rem;
  height: 1.25rem;
}

.web-StepTracker--Mobile {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--surface-color-background-white);
  outline: none;
  display: flex;
  flex-direction: column;
  overflow: auto;
  padding-top: var(--layout-padding-64);
}

.web-StepTracker--TabletUp {
  display: var(--step-tracker-tablet-up-display);
}
