.ui-Button {
  border: none;
  border-radius: var(--layout-border-radius-medium);
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--button-gap);
  font: var(--typography-regular-body);
  padding-left: var(--layout-padding-medium);
  padding-right: var(--layout-padding-medium);
  min-height: var(--size-button);
  outline: none;
  transition: var(--transition-link-background-color),
    var(--transition-link-color);
}
.ui-Button[aria-disabled] {
  pointer-events: none;
}

.ui-Button[aria-disabled]:focus,
.ui-Button[data-focus-visible] {
  outline: var(--layout-border-width-medium) solid
    var(--surface-color-border-active);
  outline-offset: var(--outline-offset);
}

/* Icon button */
.ui-Button.--icon {
  align-items: center;
  justify-content: space-around;
}

/* Sizes */
.ui-Button.--large {
  min-height: var(--size-button-large);
  padding-left: var(--layout-padding-large);
  padding-right: var(--layout-padding-large);
  font: var(--typography-regular-h4);
}
.ui-Button.--icon {
  padding: unset;
  height: var(--size-button);
  width: var(--size-button);
  min-width: var(--size-button);
}
.ui-Button.--large.--icon {
  padding: unset;
  height: var(--size-button-large);
  width: var(--size-button-large);
  min-width: var(--size-button-large);
}

/* Variant - Primary */
.ui-Button.--primary {
  background: var(--surface-color-primary-button-default);
  color: var(--icons-color-primary-invert);
}
.ui-Button.--primary[aria-disabled] {
  background-color: var(--surface-color-primary-button-disabled);
  color: var(--typography-color-disabled);
}
.ui-Button.--primary[data-hovered] {
  background-color: var(--surface-color-primary-button-hover);
}
.ui-Button.--primary[data-pressed] {
  background-color: var(--surface-color-primary-button-default);
}

/* Variant - Secondary */
.ui-Button.--secondary {
  background-color: var(--surface-color-secondary-button-default);
  border: var(--layout-border-width-small) solid
    var(--surface-color-border-dark);
  color: var(--typography-color-primary);
}
.ui-Button.--secondary[aria-disabled] {
  background-color: var(--surface-color-secondary-button-disabled);
  border-color: var(--surface-color-border-default);
  color: var(--typography-color-disabled);
}
.ui-Button.--secondary[data-hovered] {
  background-color: var(--surface-color-secondary-button-hover);
}
.ui-Button.--secondary[data-pressed] {
  background-color: var(--surface-color-secondary-button-default);
}

/* Variant - Tertiary */
.ui-Button.--tertiary {
  background-color: var(--surface-color-tertiary-button-default);
  color: var(--theme-primary-blue);
}
.ui-Button.--tertiary[aria-disabled] {
  color: var(--typography-color-disabled);
}
.ui-Button.--tertiary[data-hovered] {
  text-underline-offset: var(--text-underline-offset-large);
  text-decoration: underline;
}
.ui-Button.--tertiary[data-pressed] {
  color: var(--typography-color-link);
}

/* Variant - Link */
.ui-Button.--link {
  background-color: var(--surface-color-tertiary-button-default);
  color: var(--typography-color-link);
  text-underline-offset: var(--text-underline-offset-large);
  text-decoration: underline;
}
.ui-Button.--link[aria-disabled] {
  color: var(--typography-color-disabled);
}
.ui-Button.--link[data-hovered] {
  color: var(--theme-blue-80);
}
.ui-Button.--link[data-pressed] {
  color: var(--typography-color-link);
}
/* white link variant */
.ui-Button.--link.--white {
  color: var(--theme-gray-white);
}
.ui-Button.--link[aria-disabled].--white {
  color: var(--theme-gray-70);
}
.ui-Button.--link[data-hovered].--white {
  color: var(--theme-gray-40);
}
.ui-Button.--link[data-pressed].--white {
  color: var(--theme-gray-white);
}

/* Variant - Code */
.ui-Button.--code {
  background-color: var(--surface-color-tertiary-button-default);
  color: var(--typography-color-link);
  text-underline-offset: var(--text-underline-offset-large);
  text-decoration: underline;
  min-height: auto;
  gap: var(--layout-padding-xxsmall);
  padding: var(--layout-padding-xxsmall) var(--layout-padding-xsmall);
}
.ui-Button.--code[aria-disabled] {
  color: var(--typography-color-disabled);
}
.ui-Button.--code[data-hovered] {
  background-color: var(--theme-blue-20);
  color: var(--theme-blue-80);
}
.ui-Button.--code[data-pressed] {
  background-color: var(--theme-blue-40);
  color: var(--typography-color-primary);
}
.ui-Button.--code .ui-Icon {
  flex-shrink: 0;
  height: 1em;
  width: 1em;
  transition: var(--transition-link-icon-fill-color);
}

/* Variant - Glossary */
.ui-Button.--glossary {
  background-color: var(--surface-color-tertiary-button-default);
  color: var(--typography-color-link);
  text-underline-offset: var(--text-underline-offset-large);
  text-decoration: dotted underline;
  min-height: auto;
  padding: 0;
  border-radius: 0;

  &[data-hovered] {
    color: var(--theme-blue-80);
    background-color: var(--theme-blue-20);
  }

  &[data-pressed] {
    color: var(--typography-color-primary);
    background-color: var(--theme-blue-40);
  }
}
