.ui-WalkthroughCard--CardContainer {
  display: flex;
  border-radius: var(--layout-border-radius-xlarge);
  box-shadow: var(--surface-shadow-none), var(--surface-shadow-none);
  background-color: var(--surface-color-background-white);
  max-width: var(--walkthrough-card-max-width);
  flex-direction: column;
  font-size: 14px;
  color: var(--support-border-color-info);
  padding: var(--layout-padding-large);
  margin: var(--layout-margin-medium);
  gap: var(--layout-margin-medium);
  border: var(--layout-border-width-none);
  text-align: left;
}

.ui-WalkthroughCard--Title {
  color: var(--support-border-color-info);
  font: var(--typography-bold-h5);
}
.ui-WalkthroughCard--CardContainer:hover {
  cursor: pointer;
  box-shadow: var(--surface-shadow-medium), var(--surface-shadow-medium);
}

.ui-WalkthroughCard--CardContainer:hover .ui-WalkthroughCard--Title {
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

.ui-WalkthroughCard--Subtitle {
  font: var(--typography-regular-label);
  color: var(--support-border-color-info);
  border: var(--layout-border-width-small) solid var(--theme-blue-90);
  border-radius: var(--layout-border-radius-small);
  padding: var(--layout-padding-xxsmall) var(--layout-padding-xsmall);
}

.ui-WalkthroughCard--Description {
  font: var(--typography-regular-body);
  color: var(--typography-color-primary);
}
