.web-Question--Title {
  font: var(--typography-regular-large-body);
}

.web-Question--Title .ui-Button {
  font: inherit;
}

.web-Question--Subtext {
  padding: var(--question-subtext-padding);
}

.web-Question--Reference {
  font: var(--typography-regular-small-body);
  color: var(--typography-color-disabled);
  margin-top: var(--question-reference-margin-top);
}

.web-Question--Content {
  margin-top: var(--question-form-margin-top);
}
