.web-Question {
  display: grid;
  grid-template-rows: auto 67px;
  overflow: hidden;
  position: relative;
}

.web-Question--Title {
  font: var(--typography-regular-large-body);
}

.web-Question--Title .ui-Button {
  font: inherit;
}

.web-Question--Reference {
  font: var(--typography-regular-small-body);
  color: var(--typography-color-disabled);
  margin-top: var(--question-reference-margin-top);
}

.web-Question--Form {
  margin-top: var(--question-form-margin-top);
}

.web-Question--Content {
  overflow: auto;
}

.web-Question--Content .u-container {
  padding-top: var(--question-container-padding-y);
  padding-bottom: var(--question-container-padding-y);
  max-width: var(--question-container-max-width);
}

.web-Question--Footer {
  background-color: var(--surface-color-background-white);
  display: flex;
  justify-content: space-between;
  padding: var(--layout-padding-smedium) var(--layout-padding-xlarge);
  border-top: var(--layout-border-width-small) solid
    var(--surface-color-border-default);
}
.web-Question--Footer .ui-Icon {
  width: 1.25rem;
  height: 1.25rem;
}

.web-Question--FooterNext {
  order: 1;
  width: var(--question-footer-next-width);
}

.web-Question--FooterBack {
  padding: 0;
  width: var(--question-footer-back-width);
}

.web-Question--FooterBackText {
  display: var(--question-footer-back-text-display);
}
