:root {
  --question-container-max-width: 46.875rem; /* 750px */
  --question-container-padding-y: var(--layout-padding-medium);
  --question-reference-margin-top: var(--layout-margin-small);
  --question-form-margin-top: var(--layout-margin-small);
}

.web-Question {
  &.container {
    padding-top: var(--question-container-padding-y);
    padding-bottom: var(--question-container-padding-y);
    max-width: var(--question-container-max-width);
  }
}

.web-QuestionTitle {
  font: var(--typography-regular-large-body);
}

.web-QuestionReference {
  font: var(--typography-regular-small-body);
  color: var(--typography-color-disabled);
  margin-top: var(--question-reference-margin-top);
}

.web-QuestionForm {
  margin-top: var(--question-form-margin-top);
}

/* TABLET - 608px */
@media (min-width: 38rem) {
  :root {
    --question-container-padding-y: var(--layout-padding-large);
    --question-reference-margin-top: var(--layout-margin-smedium);
    --question-form-margin-top: var(--layout-margin-large);
  }
}

/* DESKTOP - LARGE - 1504px */
@media (min-width: 94rem) {
  :root {
    --question-container-max-width: 53.5rem; /* 856px */
  }
}
