.web-Walkthrough {
  height: calc(100dvh - var(--header-height-full));
  overflow: auto;
  display: grid;
  grid-template-rows: 48px 1fr;
}

.web-Walkthrough--StepTracker {
  border-bottom: var(--layout-border-width-small) solid
    var(--surface-color-border-default);
}

.web-Walkthrough--Content {
  display: grid;
  grid-template-rows: auto 67px;
  overflow: hidden;
  position: relative;
}

.web-Walkthrough--Form {
  overflow: auto;
  position: relative;
}

/* TABLET - 608px */
@media (min-width: 38rem) {
  .web-Walkthrough {
    grid-template-rows: auto;
    grid-template-columns: var(--walkthrough-side-nav-width) 1fr;
  }

  .web-Walkthrough--StepTracker {
    border-bottom: none;
    border-right: var(--layout-border-width-small) solid
      var(--surface-color-border-default);
  }
}
