:root {
  --walkthrough-side-nav-width: 0;
}

.web-Walkthrough {
  height: calc(100vh - var(--header-height));
  overflow: hidden;
  display: grid;
}

.web-Walkthrough--SideNav {
  display: none;
  border-right: var(--layout-border-width-small) solid
    var(--surface-color-border-default);
}

@media (min-width: 38rem) {
  :root {
    --walkthrough-side-nav-width: 15.625rem; /* 250px */
  }

  .web-Walkthrough {
    grid-template-columns: var(--walkthrough-side-nav-width) 1fr;
  }

  .web-Walkthrough--SideNav {
    display: block;
  }
}

/* DESKTOP - 912px */
@media (min-width: 57rem) {
  :root {
    --walkthrough-side-nav-width: 21.25rem; /* 340px */
  }
}

/* DESKTOP - LARGE - 1504px */
@media (min-width: 94rem) {
  :root {
    --walkthrough-side-nav-width: 27.5rem; /* 440px */
  }
}
